{% extends 'home.html' %}
{% block body %}
<div class="container">
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div style="min-width:18rem">
            <img src="{{product.image.url}}" alt="{{product.name}}">
        </div>
    </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="my_prod_titile">{{product.name}}</h1>
            <p>1kg RS-{{product.price}}</p>
            {% if product.stock <= 0 %}
            <p class="text-justify my_prod_text"><b>OUT OF STOCK</b></p>
            {% else %}
            <a class="btn btn-secondary" href="{% url 'fruitapp:order' %}">ORDER NOW</a>
            {% endif %}
        </div>
        </div>
    </div>
</div>

{% endblock %}